<div class="wrapper">
    <div class="pop-up">
        <div class="pu-header">Thêm mới hồ sơ đoàn vào</div>
        
        <div class="pu-content">
            <form>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Mã đoàn vào</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Tên đoàn vào</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Cơ quan</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Quốc gia</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Mục đích hoạt động</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ngày nhập cảnh</label>
                    <div class="col-sm-10" style="display: flex;">
                            <input class="form-control form-control-sm" type="date" id="colFormLabelSm" style="width: 300px;">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm" style="margin-left: 140px;">Ngày xuất cảnh</label>
                            <input class="form-control form-control-sm" type="date" id="colFormLabelSm" style="width: 300px;">
                        </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm" >Số ngày ở tại Việt Nam</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm" id="colFormLabelSm" style="width: 300px;">
                        </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nơi lưu trú</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">An ninh chăm sóc sức khỏe</label>
                    <div class="col-sm-10" style="margin-top: 10px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="height: 15px; width: 15px; border: 1px solid; border-radius: 0;">
                            <label class="form-check-label" for="defaultCheck1" style="font-size: 14px;">
                              Cảnh sát dẫn đường
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="height: 15px; width: 15px; border: 1px solid; border-radius: 0;">
                            <label class="form-check-label" for="defaultCheck1" style="font-size: 14px;">
                              Tiếp cận trưởng đoàn
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="height: 15px; width: 15px; border: 1px solid; border-radius: 0;">
                            <label class="form-check-label" for="defaultCheck1" style="font-size: 14px;">
                              Xe y tế tháp tùng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="height: 15px; width: 15px; border: 1px solid; border-radius: 0;">
                            <label class="form-check-label" for="defaultCheck1" style="font-size: 14px;">
                              Xe y tế đón, tiễn
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="height: 15px; width: 15px; border: 1px solid; border-radius: 0;">
                            <label class="form-check-label" for="defaultCheck1" style="font-size: 14px;">
                              Bác sĩ tháp tùng đi địa phương
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm" >Số lượng thành viên trong đoàn</label>
                        <div class="col-sm-10" style="margin-top: 10px;">
                            <input class="" id="colFormLabelSm" style="width: 270px; height: 24px;"> người
                        </div>
                </div>
            </form>
            <div style="font-weight: 600; margin-left: 45px;">HỒ SƠ ĐÍNH KÈM</div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Đề án</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Lãnh đạo tiếp đoàn</label>
                        <table>
                            <tr>
                                <th>STT</th>
                                <th>Họ và tên</th>
                            </tr>
                            <tr *ngFor="let row of rows1">
                                <td>
                                    <input type="text" ng-model="row.id" />
                                </td>
                                <td>
                                    <input type="text" ng-model="row.name" />
                                </td>
                            </tr>
                        </table>
                        <button (click)="addRow1()">add row</button>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Hoạt động địa phương</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Địa phương</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows2">
                                    <td>
                                        <input type="text" ng-model="row.id" />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="row.name" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button (click)="addRow2()">add row</button>
                </div>
                    <button class="button">Lưu lại</button>
                    <button class="button">Quay lại</button>
        </div>
    </div>
</div>